html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Add top padding to account for the fixed navbar so content is not covered */
.wrapper {
  padding-top: 70px; /* adjust if your navbar height changes */
}
